@import "tailwindcss";

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-inter), "Inter", system-ui, sans-serif;
    background-color: #020617; /* fundo escuro */
    color: #e5e7eb;            /* texto claro */
  }
}
